


::selection {
  background: #0080FF;
  text-shadow: none;
}

.App {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;

  background-color: #1300e8;

  height: 100vh;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}


.App > h1 {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.users_section {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  place-items: center;
}

.comments_section {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;

  place-items: center;
}

.section_title {
  margin: 1px;
  padding: 0;
}